footer {
    height: 200px;
    width: 100%;
    background-color: var(--clr-pink);
    color: white !important;
}

footer a:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.copyright {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright img {
    height: 50px;
    width: 167px;
    object-fit: contain;
    filter: brightness(3);
}

.copyright span {
    text-align: center;
}

.links-container {
    width: 50%;
}

.links-container div {
    display: flex;
    justify-content: center;
}

.links-container div a {
    color: white !important;
    display: flex;
    justify-content: center;
}



/* ICONS / LINKS */

.links-popup {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: var(--clr-bg-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.links-popup a {
    color: var(--clr-pink);
    font-size: 1.5rem;
    font-weight: 500;
}

.links-popup a:hover {
    color: var(--clr-pink-hover);
}



/* FOOTER RESPONSIVE STYLING */

@media(max-width: 400px) {
    footer {
        flex-direction: column !important;
        padding: 30px 10px;
        height: fit-content;
        gap: 30px;
    }
}