/* DARK MODE */

.dark-mode-btn {
    position: absolute;
    box-sizing: border-box;
    right: 5%;
    padding: 5px;
    height: 40px;
    border-radius: 999px;
    background-color: var(--clr-pink);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: all var(--transition-medium) ease-in-out;
}

.dark-mode-btn:hover {
    cursor: pointer;
    background-color: var(--clr-pink-hover);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.dark-mode-body {
    background-color: var(--clr-bg-dark-mode);
}

.dark-mode-header {
    filter: brightness(0.9) !important;
}

.dark-mode-card {
    background-color: var(--clr-bg-card-dark-mode) !important;
    color: var(--clr-white);
}

.dark-mode-selected-card {
    background-color: var(--clr-bg-dark-mode) !important;
    color: var(--clr-white);
}

.dark-mode-filter {
    background-color: var(--clr-pink) !important;
    color: var(--clr-white) !important;
}

.dark-mode-filter-list-card {
    background-color: var(--clr-bg-dark-mode) !important;
}

.dark-mode-filter-list-item {
    color: var(--clr-white) !important;
}

.dark-mode-filter-list-item:hover {
    color: var(--clr-pink) !important;
}